@import "../../../styles/colors/Colors.scss";

.block.router-link-active {
    font-weight: 500;
    color: white !important;
    
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $blue;
}

nav {
    background: linear-gradient(180deg, #0A0B0C 0%, rgba(10, 11, 12, 0) 100%);
}