.ellipse{
    position: absolute;

    &-blue {
        width: 370px;
        height: 450px;
        
        background: #169DFF;
        opacity: 0.3;
        filter: blur(159.5px);
        top: -6rem;
        right: -3rem;
    }

    &-cyan {
        width: 440px;
        height: 550px;

        background: #00C8E2;
        opacity: 0.3;
        filter: blur(159.5px);
        top: -8rem;
        left: -5rem;
    }

    &-darkblue {
        width: 440px;
        height: 550px;
        
        background: #1130CC;
        opacity: 0.3;
        filter: blur(159.5px);
        top: -8rem;
        right: -3rem;
    }

    &-purple {
        width: 450px;
        height: 450px;

        background: #C701FC;
        opacity: 0.3;
        filter: blur(159.5px);
        top: -4rem;
        left: 4rem;
    }
}