.ellipse{
    position: absolute;

    &-blue {
        width: 370px;
        height: 450px;
        
        background: #169DFF;
        opacity: 0.2;
        filter: blur(159.5px);
        top: -6rem;
        right: -2rem;
    }

    &-cyan {
        width: 510px;
        height: 550px;
        
        background: #00C8E2;
        opacity: 0.2;
        filter: blur(159.5px);
        top: -8rem;
        right: 3rem;
    }

    &-darkblue {
        width: 550px;
        height: 400px;
        
        background: #1130CC;
        opacity: 0.2;
        filter: blur(159.5px);
        top: -22rem;
        right: -4rem;
    }

    &-purple {
        width: 420px;
        height: 450px;

        background: #C701FC;
        opacity: 0.2;
        filter: blur(159.5px);
        top: -4rem;
        left: -6rem;
    }
}